.footer__container{
  width: 100%;
  backdrop-filter: blur(8px);
  border-radius: 25px 25px 0 0;
  bottom: 0;
}

.footer__content{
  max-width: 1200px;
  margin: 0 auto;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--default-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: .8;
}

.footer__title, .footer__phone{
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.footer__tableBlock{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__timeTable{
  text-align: left;
}

th{
  padding-right: 20px;
}

@media (max-width: 1120px) {
  .footer__title, .footer__phone{
    font-size: 15px;
  }
  .footer__tableBlock{
    font-size: 10px;
  }
  .footer__content{
    height: 100%;
  }
}

@media (max-width: 620px) {

  .footer__politBlock{
    font-size: 10px;
  }
  .footer__tableBlock{
    font-size: 8px;
    height: 100%;
  }
}

@media (max-width: 770px) {

  .footer__content{
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 460px) {

  .footer__content{
    flex-direction: column;
  }
}

