.filter__panelBody{
    width: 100%;
    border-width: 0 0 1px 0;
    border-style: solid;
    backdrop-filter: blur(8px);
    color: var(--default-color);
}

.filter__container{
    font-size: 18px;
    max-width: 1400px;
    height: 136px;
    margin: 0 auto;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filter__itemIcon{
    font-size: 30px;
}

.filter__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--default-color);
    text-decoration: none;
    cursor: pointer;
  
    transition: color .2s linear;
}
  
.filter__item:hover{
    color: var(--main-color);
}

@media (max-width: 1170px) {
    .filter__container{
        font-size: 14px;
    }
}

@media (max-width: 790px) {
    .filter__panelBody{
        margin-top: 90px;
    }
    .filter__container{
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 470px) {
    .filter__container{
        font-size: 0;
    }
}