.cart__body{
    width: 100%;
    color: white;
}

.cart__container{
    display: flex;
    flex-direction: column;
    text-align: center;
    backdrop-filter: blur(4px);
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-radius: 15px;
}

.cart__items_Body{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.cart__items_Pic{
    opacity: .3;
    object-fit: cover;
    width: 330px;
    height: 110px;
    position: absolute;
    z-index: -1;
}

.cart__items_Name, .cart__title{
    font-size: 22px;
    align-items: center;
}

.cart__items_Btns{
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
}

.cart__items_Price{
    font-size: 22px;
    margin-bottom: 10px;
}

.cart__items_Add, .cart__items_Remove, .cart__checkoutBtn{
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.cart__items_Add, .cart__items_Remove{
    border-radius: 0;
    width: 50px;
    height: 50px;

    transition: background-color .2s linear;
}

.cart__items_Add:hover{
    background-color: var(--main-color);
}

.cart__items_Remove:hover{
    background-color: var(--main-color);
}

.cart__checkoutBtn{
    border: none;
    background-color: var(--main-color);
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 25px;
    margin-bottom: 10px;
}

.cart__dash{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    height: 1px;
    background-color: var(--default-color);
}

.cart__dash{
    margin-top: 0;
    width: 100%;
}