.maps__container{
    margin: 25px 0 25px 0;
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.maps__container > *{
    flex-basis: 100%;
}

.map{
    text-align: center;
}

.map__title{
    font-size: 20px;
}

.map__scheme{
    width: 100%;
    height: 500px;
    border: 1px solid wheat;
}